* {
  box-sizing: border-box;
}

#etch-a-sketch {
  width: 800px;
  height: 800px;
  border: 2px solid black;
  padding: 0.1%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#etch-a-sketch div {
  border: 2px solid black;
  transition: background-color .5s;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 24px;
  pad: 24px;
}

.button {
  padding: 16px;
  background-color: white;
  border: 2px solid black;
  font-size: 16px;
}